.myButton {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
.ibad {
  background-color:grey;
  width:500px;
  height:500px;
  margin-top:30px;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  justify-content:center;
  align-items:center;
  display:flex;
  flex-direction:column;
}
